# Problem Set 3

# Step 1: Select data

In [1]:
# import packages we'll use here
import pandas as pd
import numpy as np
import scipy.optimize as opt
import time

In [2]:
# Read in the data
ps3_data = pd.read_stata('PS3_data.dta')

In [3]:
ps3_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,3280.0,1.0,2.0,45.0,44.0,1.0,2.0,8.0,5.0,0.0
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,7900.0,1.0,2.0,24.0,22.0,1.0,2.0,10.0,9.0,0.0

In [4]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
count,123786.000000,123786.000000,123786.000000,123786.000000,123786.000000,9.023300e+04,48496.000000,123786.000000,90603.000000,123656.000000,...,1.237860e+05,123786.000000,80758.0,123786.000000,80758.000000,123786.000000,80758.000000,122809.000000,80091.000000,123786.000000
mean,1494.639475,1984.831273,3271.379429,1679.269897,633.026917,4.211505e+04,22026.289062,0.843771,1.098220,1.129731,...,3.012258e+04,1.233072,2.0,45.545547,41.390785,39.620201,55.346169,12.666091,12.720081,0.557690
std,838.901790,9.836212,2277.056058,1061.704712,878.422791,4.670424e+04,21336.107422,1.182829,0.356161,0.394627,...,4.588795e+04,0.422940,0.0,17.623671,14.786721,69.003265,77.864296,2.917721,2.422607,0.265198
min,1.000000,1967.000000,1.000000,0.000000,0.000000,6.353981e-01,1.192780,0.000000,1.000000,1.000000,...,-1.324040e+05,1.000000,2.0,16.000000,13.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,772.000000,1977.000000,1444.000000,832.000000,0.000000,1.979858e+04,8016.246948,0.000000,1.000000,1.000000,...,7.700000e+03,1.000000,2.0,31.000000,29.000000,1.000000,2.000000,12.000000,12.000000,0.362158
50%,1517.000000,1985.000000,2984.000000,1976.000000,0.000000,3.460022e+04,18122.412109,0.000000,1.000000,1.000000,...,1.900000e+04,1.000000,2.0,42.000000,39.000000,3.000000,3.000000,12.000000,12.000000,0.599887
75%,2224.000000,1993.000000,4763.000000,2350.000000,1454.000000,5.267309e+04,30256.060547,2.000000,1.000000,1.000000,...,3.910775e+04,1.000000,2.0,58.000000,51.000000,22.000000,170.000000,15.000000,14.000000,0.786908
max,2930.000000,2002.000000,16968.000000,7800.000000,5840.000000,3.771521e+06,856942.062500,11.000000,8.000000,8.000000,...,3.660000e+06,2.000000,2.0,102.000000,95.000000,227.000000,231.000000,17.000000,17.000000,0.928007

In [5]:
# Drop missing observations for income and hours and observations with hours =0
ps3_data = ps3_data[(ps3_data.hlabinc.isnull() != True ) & (ps3_data.hannhrs.isnull() != True ) & (ps3_data.hannhrs > 0)]

In [6]:
ps3_data = ps3_data[(ps3_data.hyrsed.isnull() != True) & (ps3_data.age.isnull() != True) & (ps3_data.hrace.isnull() != True)]

In [7]:
# Create log value of wage per hour
ps3_data['wage_h'] = ps3_data['hlabinc'] / ps3_data['hannhrs'] 
ps3_data['wage_h_log'] = np.log(ps3_data['wage_h'])

In [8]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log
count,89498.000000,89498.000000,89498.000000,89498.000000,89498.000000,8.949800e+04,45290.000000,89498.000000,73685.000000,89498.000000,...,62588.0,89498.000000,62588.000000,89498.000000,62588.000000,89498.000000,62127.000000,89498.000000,89498.000000,89498.000000
mean,1510.806364,1986.300197,3515.972234,2071.899414,764.367310,4.217782e+04,21898.193359,0.951329,1.096872,1.123712,...,2.0,39.961285,38.244968,48.802029,65.589394,13.230061,13.029890,0.609379,20.665115,2.751252
std,834.731847,8.792725,2313.105097,751.059082,913.495239,4.677813e+04,20434.746094,1.168670,0.354704,0.390426,...,0.0,13.232885,12.209478,73.751038,81.103798,2.526080,2.224929,0.208693,24.843962,0.768142
min,1.000000,1971.000000,1.000000,1.000000,0.000000,6.353981e-01,1.192780,0.000000,1.000000,1.000000,...,2.0,17.000000,14.000000,1.000000,1.000000,1.000000,1.000000,0.247121,0.000204,-8.499092
25%,783.000000,1979.000000,1675.000000,1804.000000,0.000000,1.987883e+04,8042.066406,0.000000,1.000000,1.000000,...,2.0,29.000000,29.000000,1.000000,2.000000,12.000000,12.000000,0.421747,10.412615,2.343018
50%,1542.000000,1986.000000,3323.000000,2064.000000,80.000000,3.465334e+04,18120.386719,0.000000,1.000000,1.000000,...,2.0,38.000000,36.000000,4.000000,4.000000,12.000000,12.000000,0.614522,16.558403,2.806894
75%,2240.000000,1993.000000,5059.000000,2456.000000,1701.000000,5.275672e+04,30172.169922,2.000000,1.000000,1.000000,...,2.0,49.000000,46.000000,170.000000,170.000000,16.000000,15.000000,0.786908,24.736387,3.208275
max,2930.000000,2002.000000,16968.000000,7800.000000,5840.000000,3.771521e+06,417271.468750,11.000000,8.000000,3.000000,...,2.0,93.000000,91.000000,227.000000,231.000000,17.000000,17.000000,0.928007,1865.037964,7.531037

In [9]:
# Select only male heads of household who are between 25 and 60 years old and earn wages > $7/hr
ps3_data = ps3_data[(ps3_data.hsex ==1 ) & (ps3_data.age >= 25) & (ps3_data.age <= 60) & (ps3_data.wage_h > 7)]

In [10]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log
count,57062.000000,57062.000000,57062.000000,57062.000000,57062.000000,5.706200e+04,37133.000000,57062.000000,51693.000000,57062.000000,...,49775.0,57062.000000,49775.000000,57062.000000,49775.000000,57062.000000,49425.000000,57062.000000,57062.000000,57062.000000
mean,1507.470558,1986.575672,3480.375311,2228.557617,991.441406,5.282805e+04,23073.908203,1.173566,1.086298,1.101416,...,2.0,39.243629,37.327675,58.632908,68.006027,13.529967,13.209712,0.616109,24.320921,3.010804
std,828.361439,8.712311,2253.229068,620.054077,926.178162,5.236477e+04,20998.779297,1.216918,0.343691,0.369015,...,0.0,9.578858,9.566348,78.453896,81.718880,2.450013,2.163211,0.206353,25.209909,0.544096
min,1.000000,1971.000000,1.000000,2.000000,0.000000,1.666980e+01,1.192780,0.000000,1.000000,1.000000,...,2.0,25.000000,16.000000,1.000000,1.000000,1.000000,1.000000,0.247121,7.000252,1.945946
25%,782.000000,1979.000000,1690.000000,1952.000000,0.000000,3.037345e+04,8895.574219,0.000000,1.000000,1.000000,...,2.0,31.000000,30.000000,1.000000,2.000000,12.000000,12.000000,0.421747,13.950662,2.635527
50%,1542.000000,1987.000000,3296.000000,2160.000000,953.299988,4.382858e+04,19498.349609,1.000000,1.000000,1.000000,...,2.0,38.000000,36.000000,4.000000,4.000000,13.000000,12.000000,0.635834,19.914677,2.991457
75%,2225.000000,1994.000000,5002.000000,2519.000000,1900.000000,6.138495e+04,31769.908203,2.000000,1.000000,1.000000,...,2.0,47.000000,44.000000,170.000000,170.000000,16.000000,15.000000,0.803488,27.790929,3.324710
max,2930.000000,2002.000000,16968.000000,5840.000000,5840.000000,3.771521e+06,417271.468750,11.000000,8.000000,3.000000,...,2.0,60.000000,70.000000,227.000000,230.000000,17.000000,17.000000,0.928007,1717.330322,7.448526

In [11]:
ps3_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,51.0,48.0,1.0,2.0,12.0,12.0,0.247121,41.318916,3.721320
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,55.0,54.0,1.0,2.0,5.0,5.0,0.247121,11.274115,2.422509
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,25.0,24.0,1.0,2.0,16.0,12.0,0.247121,10.257995,2.328057
11173,284,1971,20,Head,2400.0,0.0,76885.437500,NaN,2,1.0,...,2.0,39.0,36.0,1.0,2.0,16.0,12.0,0.247121,32.035599,3.466848
11175,50,1971,29,Head,3164.0,2000.0,31968.156250,28326.214844,3,1.0,...,2.0,36.0,31.0,1.0,2.0,12.0,12.0,0.247121,10.103716,2.312903

# Step 2: Create variables

In [12]:
# Create three dummy variables. 1 means true, 0 means false
ps3_data['Black'] = ps3_data.loc[:,'hrace'].apply(lambda x : 1 if x == 2 else 0)
ps3_data['Hispanic'] = ps3_data.loc[:,'hrace'].apply(lambda x : 1 if x == 5 else 0)
ps3_data['OtherRace'] = ps3_data.loc[:,'hrace'].apply(lambda x : 1 if x == 3 or x == 4 or x == 6 or x == 7 else 0)

# Create constant variable
ps3_data['constant'] = 1

In [13]:
ps3_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace,constant
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,12.0,12.0,0.247121,41.318916,3.721320,0,0,0,1
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,5.0,5.0,0.247121,11.274115,2.422509,0,0,0,1
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,16.0,12.0,0.247121,10.257995,2.328057,0,0,0,1
11173,284,1971,20,Head,2400.0,0.0,76885.437500,NaN,2,1.0,...,2.0,16.0,12.0,0.247121,32.035599,3.466848,0,0,0,1
11175,50,1971,29,Head,3164.0,2000.0,31968.156250,28326.214844,3,1.0,...,2.0,12.0,12.0,0.247121,10.103716,2.312903,0,0,0,1

# Step 3: Estimate MLE

## Estimate the model for 1971

## (1) Select data of 1971

In [14]:
ps3_data_1971 = ps3_data[(ps3_data['year'] == 1971)]

In [15]:
ps3_data_1971.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace,constant
count,1380.000000,1380.0,1380.000000,1380.000000,1380.000000,1380.000000,727.000000,1380.000000,1012.000000,1380.000000,...,1284.000000,1380.000000,1272.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.0,1380.000000,1380.0
mean,1520.844928,1971.0,2484.165942,2239.666748,654.630432,46228.089844,15088.083984,1.594928,1.077075,1.120290,...,17.131620,12.210145,11.988208,0.247122,21.360428,2.936990,0.066667,0.0,0.026812,1.0
std,838.157827,0.0,1403.973525,635.049377,817.565491,27814.853516,12095.452148,1.540030,0.314484,0.399448,...,47.952663,3.074726,2.322334,0.000001,13.763299,0.471703,0.249534,0.0,0.161591,0.0
min,1.000000,1971.0,1.000000,71.000000,0.000000,590.803894,36.419418,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.247121,7.003735,1.946444,0.000000,0.0,0.000000,1.0
25%,795.500000,1971.0,1313.750000,1946.250000,0.000000,29916.529297,4451.262207,0.000000,1.000000,1.000000,...,2.000000,11.000000,11.000000,0.247121,13.691573,2.616780,0.000000,0.0,0.000000,1.0
50%,1569.500000,1971.0,2399.000000,2136.000000,80.000000,40901.029297,13353.787109,1.000000,1.000000,1.000000,...,2.000000,12.000000,12.000000,0.247121,18.630970,2.924825,0.000000,0.0,0.000000,1.0
75%,2251.250000,1971.0,3695.500000,2501.000000,1440.000000,56652.429688,23569.432617,2.000000,1.000000,1.000000,...,2.000000,14.000000,12.000000,0.247121,25.181152,3.226096,0.000000,0.0,0.000000,1.0
max,2927.000000,1971.0,5057.000000,5140.000000,3000.000000,396567.000000,60699.031250,11.000000,3.000000,3.000000,...,181.000000,17.000000,17.000000,0.247121,230.959808,5.442244,1.000000,0.0,1.000000,1.0

## (2) Define log-likelihood function

In [16]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]]], dtype = np.float64)
    
    x = np.array([ps3_data_1971['constant'], ps3_data_1971['hyrsed'], ps3_data_1971['age'], 
                  ps3_data_1971['Black'], ps3_data_1971['OtherRace']]).T
    
    y = np.array([ps3_data_1971['wage_h_log']]).T
      
    sigma = 2 # The value of sigma is not sensitive, different values of sigma will yield exactly the same results
    
    params = [alpha, beta1, beta2, beta3, beta5]
    
    log_like = (- (-(1 / 2) * len(ps3_data_1971.index) * np.log(2 * (np.pi)) - len(ps3_data_1971.index) * np.log(sigma) - 
                  (1 / 2) * np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / ((sigma) ** 2))).item((0,0))
    
    return log_like

## (3) Call the minimizer

In [17]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta5 = 0.1, -0.1, 0.2, -0.1, 0.5
params = [alpha, beta1, beta2, beta3, beta5]
params_initial = (0.3, -0.5, 0.6, -0.3, 0.8)

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data_1971,params),
                           method='Nelder-Mead', tol = 1e-12, options={'maxiter': 5000})

mle_results

 final_simplex: (array([[ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771],
       [ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771],
       [ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771],
       [ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771],
       [ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771],
       [ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771]]), array([ 2253.68953673,  2253.68953673,  2253.68953673,  2253.68953673,
        2253.68953673,  2253.68953673]))
           fun: 2253.6895367277757
       message: 'Optimization terminated successfully.'
          nfev: 1471
           nit: 844
        status: 0
       success: True
             x: array([ 1.55096364,  0.06687879,  0.01439146, -0.1638877 ,  0.03068771])

## Estimate the model for 1980

## (1) Select data of 1980

In [18]:
ps3_data_1980 = ps3_data[(ps3_data['year'] == 1980)]

In [19]:
ps3_data_1980.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace,constant
count,1856.000000,1856.0,1856.000000,1856.000000,1856.000000,1856.000000,1152.000000,1856.000000,1575.000000,1856.000000,...,1633.000000,1856.000000,1633.000000,1856.000000,1856.000000,1856.000000,1856.000000,1856.0,1856.000000,1856.0
mean,1529.302263,1980.0,3218.014009,2187.516602,862.890076,48254.414062,18117.966797,1.199353,1.073651,1.106681,...,55.364971,13.217134,12.764850,0.466735,22.684633,2.986743,0.062500,0.0,0.022091,1.0
std,828.231155,0.0,1843.885088,642.458801,883.042175,31733.013672,14426.778320,1.204717,0.308145,0.373573,...,77.920090,2.504283,2.095117,0.000006,16.444181,0.492932,0.242127,0.0,0.147018,0.0
min,4.000000,1980.0,2.000000,21.000000,0.000000,321.386169,64.277237,0.000000,1.000000,1.000000,...,1.000000,3.000000,3.000000,0.466728,7.040302,1.951651,0.000000,0.0,0.000000,1.0
25%,818.750000,1980.0,1681.750000,1920.000000,0.000000,29996.042969,6427.723145,0.000000,1.000000,1.000000,...,2.000000,12.000000,12.000000,0.466728,14.056891,2.643113,0.000000,0.0,0.000000,1.0
50%,1591.000000,1980.0,3243.500000,2112.000000,629.500000,42851.488281,15829.339844,1.000000,1.000000,1.000000,...,3.000000,12.000000,12.000000,0.466728,19.963352,2.993898,0.000000,0.0,0.000000,1.0
75%,2244.000000,1980.0,4800.750000,2483.500000,1800.000000,57849.511719,26570.601562,2.000000,1.000000,1.000000,...,170.000000,16.000000,14.000000,0.466728,26.782181,3.287737,0.000000,0.0,0.000000,1.0
max,2927.000000,1980.0,6615.000000,5824.000000,5011.000000,317866.781250,145358.671875,6.000000,3.000000,3.000000,...,181.000000,17.000000,17.000000,0.466728,446.369659,6.101148,1.000000,0.0,1.000000,1.0

## (2) Define log-likelihood function

In [20]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]]], dtype = np.float64)
    
    x = np.array([ps3_data_1980['constant'], ps3_data_1980['hyrsed'], ps3_data_1980['age'], 
                  ps3_data_1980['Black'], ps3_data_1980['OtherRace']]).T
    
    y = np.array([ps3_data_1980['wage_h_log']]).T
      
    sigma = 2
    
    params = [alpha, beta1, beta2, beta3, beta5]
    
    log_like = (- (-(1 / 2) * len(ps3_data_1980.index) * np.log(2 * (np.pi)) - len(ps3_data_1980.index) * np.log(sigma) - 
                  (1 / 2) * np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / ((sigma) ** 2))).item((0,0))
    
    return log_like

## (3) Call the minimizer

In [21]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta5 = 0.1, -0.1, 0.2, -0.1, 0.5
params = [alpha, beta1, beta2, beta3, beta5]
params_initial = (0.3, -0.5, 0.6, -0.3, 0.8)

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data_1980,params),
                           method='Nelder-Mead', tol = 1e-12, options={'maxiter': 5000})

mle_results

 final_simplex: (array([[ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118],
       [ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118],
       [ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118],
       [ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118],
       [ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118],
       [ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118]]), array([ 3038.85307657,  3038.85307657,  3038.85307657,  3038.85307657,
        3038.85307657,  3038.85307657]))
           fun: 3038.8530765670666
       message: 'Optimization terminated successfully.'
          nfev: 1396
           nit: 796
        status: 0
       success: True
             x: array([ 1.6130884 ,  0.06755586,  0.01269854, -0.10273607,  0.01351118])

## Estimate the model for 1990

## (1) Select data of 1990

In [22]:
ps3_data_1990 = ps3_data[(ps3_data['year'] == 1990)]

In [23]:
ps3_data_1990.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace,constant
count,2013.000000,2013.0,2013.000000,2013.000000,2013.000000,2013.000000,1451.000000,2013.000000,1953.000000,2013.000000,...,1753.000000,2013.000000,1750.000000,2013.000000,2013.000000,2013.000000,2013.000000,2013.0,2013.000000,2013.0
mean,1506.764531,1990.0,4586.804272,2275.852539,1152.904175,53131.402344,23856.576172,1.159960,1.083461,1.084451,...,78.557327,13.883756,13.554857,0.721435,23.588531,2.988202,0.054645,0.0,0.014903,1.0
std,822.890325,0.0,2478.085045,592.799988,933.885193,45474.148438,20483.181641,1.183151,0.329085,0.327381,...,83.549347,2.223457,2.066671,0.000004,19.707569,0.546725,0.227342,0.0,0.121195,0.0
min,4.000000,1990.0,1.000000,50.000000,0.000000,1108.906982,83.168030,0.000000,1.000000,1.000000,...,1.000000,4.000000,6.000000,0.721431,7.000676,1.946007,0.000000,0.0,0.000000,1.0
25%,796.000000,1990.0,2589.000000,1974.000000,0.000000,30148.410156,9344.621094,0.000000,1.000000,1.000000,...,3.000000,12.000000,12.000000,0.721431,13.431529,2.597605,0.000000,0.0,0.000000,1.0
50%,1559.000000,1990.0,4683.000000,2205.000000,1300.000000,44356.281250,20792.007812,1.000000,1.000000,1.000000,...,6.000000,14.000000,13.000000,0.721431,19.541361,2.972533,0.000000,0.0,0.000000,1.0
75%,2212.000000,1990.0,6572.000000,2550.000000,1960.000000,62376.019531,33267.210938,2.000000,1.000000,1.000000,...,171.000000,16.000000,16.000000,0.721431,27.930822,3.329731,0.000000,0.0,0.000000,1.0
max,2927.000000,1990.0,9345.000000,5200.000000,4368.000000,762373.562500,277226.750000,7.000000,3.000000,3.000000,...,191.000000,17.000000,17.000000,0.721431,317.283844,5.759797,1.000000,0.0,1.000000,1.0

## (2) Define log-likelihood function

In [24]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]]], dtype = np.float64)
    
    x = np.array([ps3_data_1990['constant'], ps3_data_1990['hyrsed'], ps3_data_1990['age'], 
                  ps3_data_1990['Black'], ps3_data_1990['OtherRace']]).T
    
    y = np.array([ps3_data_1990['wage_h_log']]).T
      
    sigma = 2
    
    params = [alpha, beta1, beta2, beta3, beta5]
    
    log_like = (- (-(1 / 2) * len(ps3_data_1990.index) * np.log(2 * (np.pi)) - len(ps3_data_1990.index) * np.log(sigma) - 
                  (1 / 2) * np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / ((sigma) ** 2))).item((0,0))
    
    return log_like

## (3) Call the minimizer

In [25]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta5 = 0.1, -0.1, 0.2, -0.1, 0.5
params = [alpha, beta1, beta2, beta3, beta5]
params_initial = (0.3, -0.5, 0.6, -0.3, 0.8)

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data_1990,params),
                           method='Nelder-Mead', tol = 1e-12, options={'maxiter': 5000})

mle_results

 final_simplex: (array([[ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229],
       [ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229],
       [ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229],
       [ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229],
       [ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229],
       [ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229]]), array([ 3303.97568211,  3303.97568211,  3303.97568211,  3303.97568211,
        3303.97568211,  3303.97568211]))
           fun: 3303.9756821110168
       message: 'Optimization terminated successfully.'
          nfev: 1127
           nit: 632
        status: 0
       success: True
             x: array([ 1.11858491,  0.09755807,  0.01346561, -0.17202438, -0.05971229])

## Estimate the model for 2000

## (1) Select data of 2000

In [26]:
ps3_data_2000 = ps3_data[(ps3_data['year'] == 2000)]

In [27]:
ps3_data_2000.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace,constant
count,2580.000000,2580.0,2580.000000,2580.00000,2580.000000,2.580000e+03,1769.000000,2580.000000,2491.000000,2580.000000,...,2139.000000,2580.000000,2066.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.0,2580.000000,2580.0
mean,1498.210853,2000.0,3459.767829,2260.13916,1175.568481,6.389820e+04,31726.113281,0.970155,1.100361,1.118605,...,99.580643,13.902326,13.841723,0.896233,28.465471,3.117667,0.052713,0.0,0.032946,1.0
std,838.155491,0.0,2080.507702,597.56781,975.173340,7.455880e+04,26769.431641,1.119585,0.399251,0.412911,...,82.025238,2.095765,1.976284,0.000023,30.749647,0.606097,0.223504,0.0,0.178529,0.0
min,4.000000,2000.0,4.000000,104.00000,0.000000,7.810670e+02,111.580994,0.000000,1.000000,1.000000,...,1.000000,4.000000,8.000000,0.896210,7.090258,1.958722,0.000000,0.0,0.000000,1.0
25%,767.250000,2000.0,1681.500000,1980.00000,0.000000,3.347430e+04,15621.339844,0.000000,1.000000,1.000000,...,5.000000,12.000000,12.000000,0.896210,14.956148,2.705122,0.000000,0.0,0.000000,1.0
50%,1522.000000,2000.0,3332.500000,2200.00000,1417.500000,4.686402e+04,26779.439453,1.000000,1.000000,1.000000,...,170.000000,14.000000,14.000000,0.896210,21.407825,3.063756,0.000000,0.0,0.000000,1.0
75%,2246.250000,2000.0,5123.250000,2550.00000,1999.399963,7.141184e+04,40169.160156,2.000000,1.000000,1.000000,...,173.000000,16.000000,16.000000,0.896210,31.414215,3.447259,0.000000,0.0,0.000000,1.0
max,2927.000000,2000.0,7456.000000,4900.00000,4940.000000,1.290657e+06,379375.375000,8.000000,8.000000,3.000000,...,212.000000,17.000000,17.000000,0.896210,526.798950,6.266819,1.000000,0.0,1.000000,1.0

## (2) Define log-likelihood function

In [28]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]]], dtype = np.float64)
    
    x = np.array([ps3_data_2000['constant'], ps3_data_2000['hyrsed'], ps3_data_2000['age'], 
                  ps3_data_2000['Black'], ps3_data_2000['OtherRace']]).T
    
    y = np.array([ps3_data_2000['wage_h_log']]).T
      
    sigma = 2
    
    params = [alpha, beta1, beta2, beta3, beta5]
    
    log_like = (- (-(1 / 2) * len(ps3_data_2000.index) * np.log(2 * (np.pi)) - len(ps3_data_2000.index) * np.log(sigma) - 
                  (1 / 2) * np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / ((sigma) ** 2))).item((0,0))
    
    return log_like

## (3) Call the minimizer

In [29]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta5 = 0.1, -0.1, 0.2, -0.1, 0.5
params = [alpha, beta1, beta2, beta3, beta5]
params_initial = (0.3, -0.5, 0.6, -0.3, 0.8)

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data_2000,params),
                           method='Nelder-Mead', tol = 1e-12, options={'maxiter': 5000})

mle_results

 final_simplex: (array([[ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224],
       [ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224],
       [ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224],
       [ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224],
       [ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224],
       [ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224]]), array([ 4253.06800934,  4253.06800934,  4253.06800934,  4253.06800934,
        4253.06800934,  4253.06800934]))
           fun: 4253.0680093370647
       message: 'Optimization terminated successfully.'
          nfev: 1211
           nit: 686
        status: 0
       success: True
             x: array([ 1.16169058,  0.10915437,  0.01099353, -0.24604485, -0.06073224])

# Step 4: Interpret results

## (1) Interprete the coefficients of beta1

In [30]:
'''
For year 1971, the coefficient of beta1 is 0.067 (rounded with three decimals). This suggests that, everything else is equal, 
if the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.067.
Since the mean value of wage per hour is $2.937 (from the description results), the coefficient also demonstrates that an one-year increase 
of education will increase the wage per hour by $0.197 (= 0.067 * 2.937).

For year 1980, the coefficient of beta1 is 0.068 (rounded with three decimals). This suggests that, everything else is equal, 
if the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.068.
Since the mean value of wage per hour is $2.987 (from the description results), the coefficient also demonstrates that an one-year increase 
of education will increase the wage per hour by $0.203 (= 0.068 * 2.987).

For year 1990, the coefficient of beta1 is 0.098 (rounded with three decimals). This suggests that, everything else is equal, 
if the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.098.
Since the mean value of wage per hour is $2.989 (from the description results), the coefficient also demonstrates that an one-year increase 
of education will increase the wage per hour by $0.293 (= 0.098 * 2.989).

For year 2000, the coefficient of beta1 is 0.109 (rounded with three decimals). This suggests that, everything else is equal, 
if the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.109.
Since the mean value of wage per hour is $3.118 (from the description results), the coefficient also demonstrates that an one-year increase 
of education will increase the wage per hour by $0.340 (= 0.109 * 3.118).

'''

'\nFor year 1971, the coefficient of beta1 is 0.067 (rounded with three decimals). This suggests that, everything else is equal, \nif the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.067.\nSince the mean value of wage per hour is $2.937 (from the description results), the coefficient also demonstrates that an one-year increase \nof education will increase the wage per hour by $0.197 (= 0.067 * 2.937).\n\nFor year 1980, the coefficient of beta1 is 0.068 (rounded with three decimals). This suggests that, everything else is equal, \nif the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.068.\nSince the mean value of wage per hour is $2.987 (from the description results), the coefficient also demonstrates that an one-year increase \nof education will increase the wage per hour by $0.203 (= 0.068 * 2.987).\n\nFor year 1990, the coefficient of beta1 is 0.098 (rounded with three decimals). This suggests that, everything else is equal, \nif the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.098.\nSince the mean value of wage per hour is $2.989 (from the description results), the coefficient also demonstrates that an one-year increase \nof education will increase the wage per hour by $0.293 (= 0.098 * 2.989).\n\nFor year 2000, the coefficient of beta1 is 0.109 (rounded with three decimals). This suggests that, everything else is equal, \nif the number of years of education of the head increases 1, the log value of the income per hour would increase by 0.109.\nSince the mean value of wage per hour is $3.118 (from the description results), the coefficient also demonstrates that an one-year increase \nof education will increase the wage per hour by $0.340 (= 0.109 * 3.118).\n\n'

## (2) How do the returns to education change over time ?

In [31]:
'''
According to the results for years 1971, 1980, 1990, and 2000 from the above, the returns - log value of the wage - to 
education (coefficient of beta1) changes from 0.067, 0.068, 0.098, to 0.109. It suggests that returns to education increases
over time in the data. Moreover, the increase from year 1980 to 1990 is relatively large, it increases about 44%.

'''

'\nAccording to the results for years 1971, 1980, 1990, and 2000 from the above, the returns - log value of the wage - to \neducation (coefficient of beta1) changes from 0.067, 0.068, 0.098, to 0.109. It suggests that returns to education increases\nover time in the data. Moreover, the increase from year 1980 to 1990 is relatively large, it increases about 44%.\n\n'